.cube-container {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(3, 180px);
  }
  .cube-item {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cube-item:nth-child(1) {
  background-color: #2b8ead;
  color: #fff;
  }
  .cube-item:nth-child(2) {
  background-color: #2f454e;
    color: #fff;
  }
  .cube-item:nth-child(3) {
  background-color: #bfbfbf;
    color: #fff;
  }
  .cube-item:nth-child(4) {
  background-color: #2f454e;
    color: #fff;
  }
  .cube-item:nth-child(5) {
  background-color: #6f98a8;
    color: #fff;
  }
  .cube-item:nth-child(6) {
  background-color: #2f454e;
    color: #fff;
  }
  .cube-item:nth-child(7) {
  background-color: #6f98a8;
    color: #fff;
  }
  .cube-item:nth-child(8) {
  background-color: #2b8ead;
    color: #fff;
  }
  .cube-item:nth-child(9) {
  background-color: #bfbfbf;
    color: #fff;
  }
  
  @media only screen and (max-width: 375px) {
    .cube-container {
    display: grid;
      grid-gap: 5px;
    grid-template-rows: repeat(9, 60px);
  }
    .cube-item {
    font-size: 32px;
      width: 94vw;
      grid-column: 1.4;
      color: #333333;
  }
    .cube-item:nth-child(1) {
      border-left: 10px solid #2b8ead;
      background-color: #efefef;
  color: #333333;
  grid-column: 1 / 4;
      
  }
  .cube-item:nth-child(2) {
    border-left: 10px solid #2f454e;
      background-color: #efefef;
  color: #333333;
  grid-column: 1 / 4;
  }
  .cube-item:nth-child(3) {
    border-left: 10px solid #bfbfbf;
      background-color: #efefef;
  color: #333333;
  grid-column: 1 / 4;
  }
  .cube-item:nth-child(4) {
    border-left: 10px solid #2f454e;
      background-color: #efefef;
  color: #333333;
  grid-column: 1 / 4;
  }
  .cube-item:nth-child(5) {
    border-left: 10px solid #6f98a8;
      background-color: #efefef;
  color: #333333;
  grid-column: 1 / 4;
  }
  .cube-item:nth-child(6) {
    border-left: 10px solid #2f454e;
      background-color: #efefef;
  color: #333333;
  grid-column: 1 / 4;
  }
  .cube-item:nth-child(7) {
    border-left: 10px solid #6f98a8;
      background-color: #efefef;
  color: #333333;
  grid-column: 1 / 4;
  }
  .cube-item:nth-child(8) {
    border-left: 10px solid #2b8ead;
      background-color: #efefef;
  color: #333333;
  grid-column: 1 / 4;
  }
  .cube-item:nth-child(9) {
    border-left: 10px solid #bfbfbf;
      background-color: #efefef;
  color: #333333;
  grid-column: 1 / 4;
  }
  }